// variables

$dark-bg: #2b2b2b;

// schematics

%mulish14 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

%mulish20 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}
