@import 'src/assets/scssData/scssVars.scss';

.cinemaTrailer- {
  &trailer {
    scroll-snap-type: y mandatory;
    position: relative;
    scroll-behavior: smooth;
    background-color: black;
    &_overlay {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      max-width: 1000px;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin-top: 12%;
      &-title {
        color: white;
        text-shadow: 3px 3px 5px black;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 600;
        font-size: 72px;
        text-align: center;
        text-transform: uppercase;
      }
      &-watchButton {
        position: relative;
        z-index: 5;
        &-link {
          @extend %linkClear;
        }
        &_button {
          background-color: transparent;
          border: none;
          color: #f6f6f6;
          @extend %oswald24;
          padding: 10px 50px;
          margin-top: 50px;
          cursor: pointer;
          position: relative;
          background: $yamaPink;
          -webkit-box-shadow: 5px 5px 0px 0px black;
          -moz-box-shadow: 5px 5px 0px 0px black;
          box-shadow: 5px 5px 0px 0px black;
          background-position: 100%;
          background-image: -webkit-linear-gradient(
            45deg,
            #000 50%,
            transparent 50%
          );
          background-image: linear-gradient(45deg, #000 50%, transparent 50%);
          background-size: 400%;
          -webkit-transition: background 300ms ease-in-out;
          transition: background 300ms ease-in-out;
          &:hover {
            background-position: 0;
          }
          &::before {
            content: '';
            position: absolute;
            border-left: 1px solid #fff;
            border-top: 1px solid #fff;
            width: calc(100% - 10px);
            height: calc(100% - 5px);
            left: -6px;
            top: -5px;
          }
          &::after {
            content: '';
            position: absolute;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            width: calc(100% - 10px);
            height: calc(100% - 5px);
            right: -10px;
            bottom: -10px;
          }
        }
      }
    }
    &_player {
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
    }
  }
}
