@import 'assets/scssData/scssVars.scss';

.releasesBanner- {
  &container {
    margin: 0 auto;
    margin-top: 20px;
  }
  &banner {
    &_img {
      width: 80vw;
      display: block;
      margin: 0 auto;
    }
  }
}
