@import 'assets/scssData/scssVars.scss';

.cinemaPlayer- {
  &divider {
    background-color: #d54d4d;
    &--inner {
      height: 180px;
      background-color: black;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%, -5% 10%);
    }
  }
  &player- {
    &container {
      position: relative;
      background-image: url('src/assets/icons/player_bg.svg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: scroll;
      background-color: $yamaPink;
    }
    &-outer {
      width: 50%;
      height: 50%;
      margin: 0 auto;
      padding: 20px;
      &::before {
        content: 'YAMANEKO';
        position: absolute;
        top: 260px;
        left: 100px;
        transform: rotate(270deg);

        font-family: 'Belgro';
        font-style: normal;
        font-weight: 900;
        font-size: 60px;

        color: #f6f6f62b;
      }
      &::after {
        content: 'YAMANEKO';
        position: absolute;
        top: 260px;
        right: 100px;
        transform: rotate(90deg);

        font-family: 'Belgro';
        font-style: normal;
        font-weight: 900;
        font-size: 64px;

        color: #ffffff;
      }
    }
  }
}
