@import 'assets/scssData/scssVars.scss';

.releases- {
  &container {
    background-color: $dark-bg;
    padding: 10px;
    &--inner {
      max-width: 1300px;
      margin: 0 auto;
    }
    &-main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  &banner {
    text-align: center;
    padding: 20px 0;
    &__img {
      @media screen and (max-width: 768px) {
        max-width: 75%;
      }
    }
  }
}
