@import 'assets/scssData/scssVars.scss';

.signIn- {
  &container {
    color: #fff;
    @extend %mulish16;
    background-color: #111;
    padding-top: 50px;
    padding-bottom: 100vh;
    &--inner {
      @extend %flexCenter;
      flex-direction: column;
      max-width: 50vw;
      margin: 0 auto;
      background-color: #1c1c1c;
      @media screen and (max-width: 1000px) {
        min-width: 360px;
      }
    }
  }
  &form-title {
    @extend %mulish20;
    padding: 20px;
    text-align: center;
    width: 350px;
  }
  &formik {
    &_error {
      text-align: center;
      margin: 15px;
      max-width: 350px;
      max-height: 30px;
      color: $yamaPink;
    }
    &_empty {
      min-height: 40px;
    }
  }
  &fields {
    @extend %flexCenter;
    flex-direction: column;
    &_field {
      width: 350px;
      @extend %flexCenter;
      flex-direction: column;
      &-input {
        width: 300px;
        height: 40px;
        outline: none;
        border: none;
        border-radius: 16px;
        padding-left: 20px;
        background: $dark-bg;
        color: #fff;
        @extend %mulish14;
        &:focus,
        &::placeholder {
          color: #fff;
        }
        @media screen and (max-width: 768px) {
          width: 200px;
          height: 35px;
        }
      }
      .error {
        border: 1px solid $yamaPink;
      }
    }
  }
  &buttons {
    @extend %flexCenter;
    margin-bottom: 25px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    &_submit {
      &-button {
        background: $pink-gradient;
        text-align: center;
        padding: 10px 20px;
        margin: 5px;
        border-radius: 30px;
        cursor: pointer;
        outline: none;
        border: none;
        @extend %mulish16;
        font-weight: bold;
        color: #fff;
        @media screen and (max-width: 768px) {
          margin: 10px 0;
        }
      }
    }
    &_switch {
      @extend %flexCenter;
      flex-direction: column;
      margin-left: 20px;
      @media screen and (max-width: 768px) {
        margin: 10px 0;
      }
      &-title {
        @extend %mulish14;
        color: grey;
      }
      &-subtitle {
        cursor: pointer;
        @extend %mulish14;
      }
    }
  }
  &bottom {
    background: $pink-gradient;
    min-width: 100%;
    &_circle {
      @extend %flexCenter;
      margin: 0 auto;
      margin-top: -24px;
      color: $yamaPink;
      background-color: #fff;
      border-radius: 60px;
      width: 45px;
      height: 45px;
      font-weight: bold;
    }
    &_servises {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin: 10px auto;
      &-item {
        @extend %flexCenter;
        cursor: pointer;
        background-color: #fff;
        border-radius: 30px;
        padding: 5px;
        margin: 5px;
        width: 30px;
        height: 30px;
        color: $yamaPink;
        @extend %mulish20;
        font-weight: bold;
      }
    }
  }
}
