header {
  position: sticky;
  top: 0px;
  z-index: 999;
  background: black;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #f6f6f6;
}

.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  justify-self: auto;

  /* max-width: 1300px; */
  min-width: 100%;
  max-height: 75px;
  height: 100%;
  margin: 0px auto;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo {
  font-family: Belgro;
  font-size: 32px;
  margin-right: 30px;

  display: flex;
  align-items: center;
}

.logo a,
.logo a:active,
.logo a:hover,
.logo a:visited{
  text-decoration: none;
  color: #FFFFFF
}

.search input {
  background-image: url("../../data/assets/icons/zalupa.svg");
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: center;
  width: 400px;
  height: 100%;
  border-radius: 2px;
  padding-left: 40px;
  font-size: 16px;
}

.search input[type="text"]:hover:active:focus{
  border: none;
  text-decoration: none;
}

.container-header ul li {
  padding: 20px;
}

.container-header li {
  display: inline-block;
}

.navigation {
  display: flex;
  align-items: center;
  text-align: center;
}

.navigation a {
  text-decoration: none;
  color: #fff;
}


/* Dropdown Button */
.dropbtn {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  background-color: transparent;
  color: #f6f6f6;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.dropbtn img{
  margin: auto 5px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  left: 8px;
  right: 8px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.sign-in{
  display: flex;
  align-items: center;
  justify-content: center;

  width: auto;
  height: 30px;
  margin-top: 6.5px;
  padding: 5px;

  background: linear-gradient(274.27deg, #FF705F 11.62%, #CD3737 80.84%);
  border-radius: 13px;
}

.sign-in p {
  font-size: 16px;
}

.sign-in a {
  text-decoration: none;
  color: #fff;
}

