@import 'assets/scssData/scssVars.scss';

.single-release- {
  &container {
    display: flex;
    align-items: flex-start;
    max-width: 1300px;
    background-color: $dark-bg;
    padding: 20px 2px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }
    &--left {
      margin-right: 20px;
      @media screen and (max-width: 768px) {
        margin: 0;
      }
    }
    &--right {
      margin-top: 8px;
      @media screen and (max-width: 768px) {
        margin: 0;
      }
    }
    @extend %linkClear;
  }
  &poster {
    max-height: 300px;
    max-width: 220px;
    overflow: hidden;
    border-radius: 20px;
    @media screen and (max-width: 768px) {
      max-height: 250px;
      max-width: 170px;
    }

    &--img {
      height: 300px;
      width: 220px;
      transition: 0.6s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &title-- {
    &ru {
      @extend %mulish20;
      font-weight: bold;
      color: #fff;
      @media screen and (max-width: 768px) {
        text-align: center;
        margin: 10px 0;
      }
    }
    &orig {
      @extend %mulish14;
      color: rgba(255, 255, 255, 0.58);
      @media screen and (max-width: 768px) {
        text-align: center;
        margin: 10px 0;
      }
    }
  }
  &genre-list {
    @extend %mulish14;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    @media screen and (max-width: 768px) {
      justify-content: center;
    }
    &--item {
      background-color: rgba(255, 255, 255, 0.87);
      margin-right: 10px;
      padding: 2px 10px;
      @media screen and (max-width: 768px) {
        padding: 2px 5px;
        margin: 10px 5px;
      }
    }
  }
  &description {
    @extend %mulish14;
    color: #fff;
    max-width: 660px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    @media screen and (max-width: 768px) {
      max-width: 500px;
      -webkit-line-clamp: 5;
    }
  }
  &divider {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
      border-radius: 50px;
      margin-top: 20px;
      color: $light-bg;
    }
  }
}
