@import 'assets/scssData/scssVars.scss';

.cinemaRoles- {
  &container {
    max-width: 1300px;
    margin: 0 auto;
  }
  &banner {
    max-height: 20vw;
    padding: 20px;
  }
  &roles {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5px 0;
    margin: 20px 0;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    &_role {
      &--img-wrap {
        position: relative;
        text-align: center;
        &:hover .cinemaRoles-roles_role-description {
          visibility: visible;
          opacity: 1;
        }
        &:hover .cinemaRoles-roles_role-img {
          filter: blur(1px) grayscale(0.7) brightness(0.5);
          transition: 0.5s;
        }
      }
      &-name {
        @extend %mulish24;
        color: $black-bg;
      }
      &-description {
        position: absolute;
        top: 30%;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        @extend %mulish24;
        color: white;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.4s, visibility 0.4s;
      }
      @media screen and (max-width: 768px) {
        margin-bottom: 30px;
      }
    }
  }
}
